@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This website was created to keep track of the current inventory of beverages available through Beverages by .NET. Once you have registered an account or logged 
    in as a current user, you will be able to manage the current inventory by clicking the "Beverages" tab on the top ribbon.
</p>

<h3>Register/Log in</h3>
<p>
    To register an account - Click on the "Register" link located at the top right portion of the ribbon. Then provide an Email address and a password, confirm the 
    password and click the "Register" button.
</p>

<p>
    To log in - Simply enter your Email address and password that you provided to register your account and click the "Log in" button.
</p>

<h3>Managing Beverages</h3>
<p>
    To Create a new beverage - Click on the "Create New" link located below the Index title. Once on the "Create" page, populate the id, name, pack, and price fields. 
    Then check the checkbox if the item will be active and click "Create" once you are finished. To abort the process of creating a new beverage, simply click 
    "Back to List".
</p>

<p>
    To Edit a current beverage - Click the "Edit" link located to the right of the beverage you wish to edit. Once on the "Edit" page, update the information you wish 
    to update and click "Save" to submit your changes. To cancel the edit, simply click "Back to List".
</p>

<p>
    To view the details of a current beverage - Click the "Details" link located to the right of the beverage you wish to view. On the "Details" page you will be presented 
    with all of the editable details for that beverage and have the option to edit the current beverage or go back to the entire list of beverages.
</p>

<p>
    To Delete a current beverage - Click the "Delete" link located to the right of the beverage you wish to delete. You will be presented with a delete confirmation page. 
    If you wish to confirm the delete, click the delete button. To cancel the delete, simply click "Back to List".
</p>

<p>
    When you are done please be sure to Log off. Thank you for visiting Beverages by .NET.
</p>
