@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One TheBarnes Way<br />
    Kalamazoo, MI 49003-4070<br />
    <abbr title="Phone">P:</abbr>
    269.567.1020
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@cis237.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@cis237.com</a>
</address>